@{
    ViewData["Title"] = "Go Games";
}
<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <p class="lead">Go Games est une application Web MVC en .NET permettant de stocker des jeux et de voir leur description</p>
    <div class="text-center">
        @Html.ActionLink("Consulter la liste des Jeux", "GamesList", "Home", null, new { @class = "btn btn-info" })
        @Html.ActionLink("Consulter la liste des Bundles", "GamesBundles", "Home", null, new { @class = "btn btn-info" })
        @Html.ActionLink("Ajouter des jeux et des bundles aux listes", "AddValues", "Home", null, new { @class = "btn btn-info" })
    </div>
</div>
