@model GoGames.Models.Game
@{
    ViewData["Title"] = "Voir le jeu";
}
<form action="/GamesList/Details/@ViewData["ID"]" method="post">
    <div class="form-horizontal">
        <h4>Details</h4>
        <br />
        @ViewData["GameName"]
        <br />
        @ViewData["GameType"]
        <br />
        @ViewData["Description"]
        <br />
        @ViewData["Years"]
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Inyxgp63fRFqUePGvuI5jGZsloJu1L7X9le1gy7NCIlSduCRx9jDQClrV9pOTTmqUyXnJBXhmrjcUVDJyDUMm7-MF_9rK8aAZdRdlOri7FmKVkRe_2v5LIHGKFcTjPrWPYnc9AdSbomkiOSaTEg7RU" />
</form>